template
  .mdl-textfield--floating-label.mdl-textfield.mdl-js-textfield(ref="component")
    input.mdl-textfield__input(type="text" value.bind="value" id.bind="id" ref="input" focus.bind="mdlFocus")
    label.mdl-textfield__label(for.bind="id" if.bind="label" ref="labelElement") ${label}
