template
  .mdl-textfield--floating-label.mdl-textfield.mdl-js-textfield(ref="component")
    input.mdl-textfield__input(type="text" value.bind="displayValue" id.bind="id" ref="input")
    label.mdl-textfield__label(for.bind="id" if.bind="label") ${label}${displayLabelUnit}
